<h1>Все статьи:</h1>

<% @articles.each do |article| %>
	<h3>
		<%= article.id %>) Статья
	</h3>
	<h2>
		<%= article.title %>
	</h2>
	<p>
		<%= article.text %>
	</p>
	<hr>
	<p>
		Добавлено:  <%= article.created_at %>
	</p>
	<hr>
<% end %>	